# D / DUB
.dub/
__dummy.html
*.exe
*.obj
*.o
*.a
*.so
*.dll
*.lib
*.lst
*.exp
*.pdb

# Build and publish
bin/
obj/
publish/
dist/
*.user
*.suo
*.cache
.vs/
*.rsuser

# Inno Setup
installer/*.exe

# IDE / OS
.idea/
*.swp
*.swo
Thumbs.db
.DS_Store

# Logs
*.log
*.tmp
